<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.b2m.driverlagbe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Driver.DriverData"></activity>
        <activity android:name=".DrivingLicence" />
        <activity android:name=".IdentityCard" />
        <activity android:name=".DocumentUpload" />
        <activity android:name=".EmptyNotification" />
        <activity android:name=".Earn_money" />
        <activity android:name=".Tracking" />
        <activity android:name=".SearchDriver" />
        <activity android:name=".Job_request_Activity" />
        <activity android:name=".SignIn" />
        <activity android:name=".SignUp" />
        <activity android:name=".SignUpOption" />
        <activity android:name=".AcceptJob" />
        <activity android:name=".Verification" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LocationEnable" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegistationActivity" />
    </application>

</manifest>